*{
    margin:0;
    padding:0;
}

/* centered */
#wrapper {
    margin: 0 auto;
}

nav, aside, section,article, header,footer, main{
    display: block;
}


/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

 body {
   margin: 0;
   padding: 0;
   direction: ltr;
 }
