@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

*{
    margin:0;
    padding:0;
}

/* centered */
#wrapper {
    margin: 0 auto;
}

nav, aside, section,article, header,footer, main{
    display: block;
}

 body {
   margin: 0;
   padding: 0;
 }


 /***************** Login *************************************/
 
/* BASIC */

#loginBody {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #56baed;
  }
  
#loginBody  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  #loginBody h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  
  
  /* STRUCTURE */
  
  #loginBody .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #loginBody #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #loginBody #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }

  #loginBody #incorrectCredentials {
    color: #B33D45;
    font-weight: bold;
    margin-top: 10px;
    visibility: hidden;
  }
  
  
  /* TABS */
  
  #loginBody h2.inactive {
    color: #cccccc;
  }
  
  #loginBody h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  
  /* FORM TYPOGRAPHY*/
  
  #loginBody input[type=button], input[type=submit], input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  #loginBody input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
  }
  
  #loginBody input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  #loginBody input[type=text], #loginBody input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  
  #loginBody input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  #loginBody input[type=text]:placeholder {
    color: #cccccc;
  }
  
  
  
  /* ANIMATIONS */
  
  /* Simple CSS3 Fade-in-down Animation */
  #loginBody .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  /* Simple CSS3 Fade-in Animation */
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  
  #loginBody .fadeIn {
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }
  
  #loginBody .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  
  #loginBody .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }
  
  #loginBody .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }
  
  #loginBody .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
  }
  
  /* Simple CSS3 Fade-in Animation */
  #loginBody .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  #loginBody .underlineHover:hover {
    color: #0d0d0d;
  }
  
  #loginBody .underlineHover:hover:after{
    width: 100%;
  }
  
  
  
  /* OTHERS */
  
  #loginBody *:focus {
      outline: none;
  } 
  
  #loginBody #icon {
    width:30%;
  }
  


 /****************** createAccount's refresh btn ***********************/
 .fa-refresh {
    background-color: transparent;
    border: none;
    columns: #000000;
    padding: 12px 16px;
    font-size: 16px;
    cursor: none;
  }

  .fa-refresh:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 0.8s linear infinite;
    -moz-animation:spin 0.8s linear infinite;
    animation:spin 0.8s linear infinite;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/******************end of createAccount's refresh btn ***********************/


 @media (min-width:851px) {
    .mainActionBtn {
        margin-top:10%;
        height: 100%;
        border-radius: 1%;
        font-size: 100%;
      }


    .confirmBtn {
        margin-top:10%;
        height: 50%;
        border-radius: 1%;
        font-size: 100%;
    }
 }

 @media (min-width:591px) and (max-width:850px) {
    .mainActionBtn {
      margin-top:5%;
    }
}

@media (max-width:590px) {
    .mainActionBtn {
        margin-top:5%;
        
    }
}
    
/*--------------------------------------------*/

* {
    margin: 0px auto;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 100%;
}


.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.flex-container > h4 {
    margin-top: -80px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
} 

.upperside > h4 {
    margin-top: -80px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.upperside {
    width: 100%;
}

.upperside > h4 {
    text-align: center;
    font-size: 200%;
}

.upperside > form > label {
    font-size: 100%;
    margin-left: 0.7%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }


  #contributesTable > thead tr {
    background: #B33D45;
    color: white;
}

#contributesTable > tbody tr:nth-of-type(odd) {
    background-color: #FBDCDB !important;
}


#userPic2 {
    background: url("../images/avi.jpg") no-repeat;   
    border-radius:20000000000000000%;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin-top: 0%;
    margin-bottom: 10px;
    padding-right: 0%;
    float:left;
}

.table-bordered td {border: none !important; border-right: solid 1px #ccc !important;}


.btn-group-vertical{
    margin-left: 10%;
    margin-top: 2%;
}


/*----QrScanner-----*/

.QrScanner{
    font-size: 1.5em;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 5%;
}

#QR{
    background: url("../images/unnamed.png") no-repeat;   
    width: 512px;
    height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 400px;
    height: 200px;
    background-color: #F7FADE;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -350px;
    margin-bottom: 150px;
}

.buttons {
    margin-top: 35px;
}


/*--------userDetailsPage--------*/


.userDetailsUp {
    margin-top: 10%;
    width: 80%;
}

.userDetailsUserName {
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 5%;
}

#userDetailsHeadline {
    width: 100px;
    height: 100px;
    background: url("../images/avigabai.jpg")no-repeat top right;
    margin-top: 10.5%;
    margin-right: 20%;
    float: right;
}

.userDetailsList {
    margin-top: 10%;
    margin-left: 0%;
    list-style-type: none;
    font-size: 21px;
    line-height: 300%;
    width: 80%;
}

.userDetailsRank {
    width: 100px;
    height: 100px;
    background: url("../images/3stars.png")no-repeat top right;    
    margin-right: 10%;
}

#userDetailsDown { 
  margin: 0%;
}

.userDetailsList2 {
    list-style-type: none;
    font-size: 21px;
    line-height: 300%;
    width: 80%;
    background-color: #CF868B;
}


.userDetailsFace {
    width: 70px;
    height: 50px;
    background: url("../images/face.png")no-repeat top;
    margin-top: 0.5%;
    float: left;
}

.userDetailsA1 {
    margin-top: 0%;
}

#userDetailsA2 {
    width: 100px;
    height: 100px;
    background: url("../images/3stars.png")no-repeat top right;
    margin-right: 40%;
    margin-top: -1%;
    float: right;
}

.userDetailsParagraphDiv {
    margin: 0%;
    margin-left: 1%;
    font-size: 15px;
}



/*--------historyPage--------*/

.historyUpperSide {
    margin-top: 10%;
}

.historyUserName {
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
}

.historyDownSise {
    margin: 0%;
}

.historyList2 {
    list-style-type: none;
    font-size: 21px;
    line-height: 300%;
    width: 80%;
}

.historyFace {
    width: 50px;
    height: 50px;
    background: url("../images/avi.jpg")no-repeat top;
    border-radius: 200000000%;
    margin-top: 0.5%;
    margin-left: 1%;
    margin-right: 2%;
    float: left;
}

.historyA1 {
    margin-top: 0%;
    margin-right: 2%;
}

.historyA2 {
    margin-top: 0%;
}

.historyList3 {
    list-style-type: none;
    font-size: 21px;
    line-height: 300%;
    width: 80%;
}

.historyA3 {
    margin: 0%;
    margin-left: 1%;
    margin-right: 2%;
}

.historyA4 {
    margin-top: 0%;
    margin-right: 2%;
}

.historyA5 {
    margin-top: 0%;
}

.hidden {
  display: none;
}

#successfullTransaction {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

button[disabled] {
  cursor: not-allowed;
}