*{
    margin:0;
    padding:0;
}

/* centered */
#wrapper {
    margin: 0 auto;
}

nav, aside, section,article, header,footer, main{
    display: block;
}

.isActiveDespositorToggle .toggle-on {
    background: green !important;
}

#userPic {
    background: url("../images/gantz.png") no-repeat;   
    border-radius:20000000000000000%;
    width: 100px;
    height: 90px;
    text-decoration: none;
    margin-top: 0%;
    margin-bottom: 10px;
    padding-right: 0%;
    float:left;
}

 body {
   margin: 0;
   padding: 0;
   direction: ltr;
 }



 /****************** createAccount's refresh btn ***********************/
 .fa-refresh {
    background-color: transparent;
    border: none;
    columns: #000000;
    padding: 12px 16px;
    font-size: 16px;
    cursor: none;
  }

  .fa-refresh:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 0.8s linear infinite;
    -moz-animation:spin 0.8s linear infinite;
    animation:spin 0.8s linear infinite;
    }

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/******************end of createAccount's refresh btn ***********************/


 @media (min-width:851px) {
    .mainActionBtn {
        margin-top:10%;
        height: 100%;
        border-radius: 1%;
        font-size: 200%;
    }

    .confirmBtn {
        margin-top:10%;
        height: 50%;
        border-radius: 1%;
        font-size: 100%;
    }
 }

 @media (min-width:591px) and (max-width:850px) {
    .mainActionBtn {
        /* float:left; */
        /* width: 100%; */
        margin-top:5%;
        /* height: 225%; */
    }
}

@media (max-width:590px) {
.mainActionBtn {
    /* float:left; */
    /* clear:both; */
    /* top:10px; */
    /* width: 100%; */
    margin-top:5%;
    /* height: 125%; */
    }

    
/*----------------------ERAN----------------------*/

* {
    margin: 0px auto;
    padding: 0;
}

article, aside, main, section, header, footer {
    display: block;
}

body {
    font-family: Arial, sans-serif;
    font-size: 100%;
}

#wrapper1 {
    width: 100%;
    margin: 0px auto;
}

#wrapper1 header {
    width: 100%;
    line-height: 985%;
    font-size: 165%;
}

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
}

.flex-container > h4 {
    margin-top: -80px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
} 

.upperside > h4 {
    margin-top: -80px;
    font-size: 1.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo1 {
    width: 100px;
    height: 100px;
    background: url("../images/on.png") no-repeat;    
    margin-left: 2%;
}

#logo2 {
    display: inline-block;
    width: 20%;
    height: 128px;
    background: url("../images/lock.png") no-repeat center center;
    font-family: 'Black Han Sans', sans-serif;
    text-decoration: none;
    line-height: 9.5;
    color: #3c2b2b;
    font-size: 21px;
    padding-left: 1%; 
}

#logo3 {
    background: url("../images/gantz.png") no-repeat;   
    border-radius:90%;
    width: 100px;
    height: 100px;
    text-decoration: none;
    margin-top: 1%;
    margin-right: 0%;
}

#logo4 {
    width: 100px;
    height: 100px;
    background: url("../images/hamburger.png") no-repeat;    
    margin-right: 1%;
    margin-top: 1%;
}

.upperside {
    width: 100%;
}

.upperside > h4 {
    text-align: center;
    font-size: 200%;
}

.upperside > form > label {
    font-size: 100%;
    margin-left: 0.7%;
}


/*------------------------------------------*/


#wrapper2 {
    width: 100%;
    margin: auto;
}

#wrapper2 header {
    width: 100%;
    line-height: 985%;
    font-size: 165%;
}


/*--------------------ERAN's----------------------*/


#wrapper3 {
    width: 100%;
    margin: auto;
}

#wrapper3 header {
    width: 100%;
    line-height: 985%;
    font-size: 165%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  /*----------------------End of eran-------------------*/

}